/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* base styling */
html, body {
    font-family:"Roboto", sans-serif;
    background-color: #4abcad;
}

nav {
    background-color: #4abcad;
    box-shadow: none;
}

.nav-buttons a {
    font-size: medium;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5px;
}


.sidenav {
    background-color: #8697c3;
    color: white;
}

.sidenav li>a {
    color: white;
    font-weight: 300;
    font-size: medium;
    letter-spacing: 0.5px;
}

#page-title {
    padding-left: 2%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
}

/* homepage styling */
.btn-small {
    margin: 5px;
}

.home-button {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 7px 4px #e17b5e;
    background-color: #e37050;
    font-weight: 500;
}

.home-button a {
    background-color: #e17b5e;
}

/* films.html styling */


.films-title {
    font-weight: 500;
    text-transform: uppercase;
}

#search-bar-container {
    padding: 0;
    margin: 0;
    background-color: #f6cd78;
    border-radius: 5px;
}

#search-bar-container .row {
    margin: 0;
}

#search-bar input {
    border-bottom: none;
    box-shadow: none;
}

#film {
    min-height: 84px;
    padding-left: 133px;
    position: relative;
    background-color: #f6cd78;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.collection {
    border: none;
}

#film-image {
    position: absolute;
    height: 150px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

#review-dropdown {
    border: none;
    background-color: #f6cd78;
    justify-content: end;
    padding: 5px;
}

#review-dropdown-container {
    border: none;
    margin: 0;
    box-shadow: none;
}