{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add your review</h3>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_review', film_id = film._id) }}">
          <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-film prefix"></i> 
                <input id="film_name" name="film_name" class="validate" 
                minlength="1" maxlength="100" type="text" value="{{ film.film_name }}" required></input>
                <label class="active" for="film_name"></label>
              <div class="input-field col s12">
                <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="review_area" class="materialize-textarea"></textarea>
                          <label for="review_area">Your Review</label>
                        </div>
                      </div>
                    </form>
                  </div>
          <div class="row">
            <div class="col s12 center-align">
              <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

{% endblock %}