{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add your review of a film</h3>
    <div class="row">
        <form class="col s12" method="POST" action="">
          <div class="row">
            <div class="input-field col s12">
              <i class="fa-solid fa-film prefix"></i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Film Name</label>
              <div class="input-field col s12">
                <i class="fa-solid fa-person prefix"></i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Director</label>
              </div>
              <div class="input-field col s12">
                <i class="fa-solid fa-calendar-days prefix"></i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Release Date</label>
              </div>
            </div>
          </div>
        </form>
      </div>

{% endblock %}