{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit a film if something is not correct</h3>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_film', film_id=film._id) }}">
          <div class="row">
              <div class="input-field col s12">
                <i class="fa-solid fa-film prefix"></i> 
                <input id="film_name" name="film_name" class="validate" 
                minlength="1" maxlength="100" value="{{ film.film_name }}" required></input>
                <label class="active" for="film_name">Film Name</label>
              <div class="input-field col s12">
                <i class="fa-solid fa-person prefix"></i>
                <input id="director" name="director" class="validate"
                 minlength="5" maxlength="50" value="{{ film.director }}"" required></input>
                <label class="active" for="director">Director</label>
              </div>
              <div class="input-field col s12">
                <i class="fa-solid fa-calendar-days prefix"></i>
                <input id="release_year" name="release_year" class="validate" 
                pattern="^[0-9]{5, 15}$" value="{{ film.release_year }}" required></input>
                <label class="active" for="release_year">Release Year</label>
              </div>
              <div class="input-field col s12">
                <i class="fa-solid fa-camera-retro prefix"></i>
                <input id="film_image" name="film_image" class="validate" 
                value="{{ film.film_image }}"" required></input>
                <label class="active" for="release_year">Upload a film image</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <a href="{{ url_for('films' )}}" class="btn red">Cancel</a>  
              <button class="btn waves-effect waves-light" type="submit">Edit
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
{% endblock %}