{% extends "base.html" %}
{% block content %}

<h1>Edit Review</h1>
<form action="{{ url_for('edit_review', film_id=film_id, review_id=review.review_id) }}" method="POST">
    <input type="text" name="username" value="{{ review.username }}" placeholder="Your Name" required>
    <textarea name="review" placeholder="Your Review" required>{{ review.text }}</textarea>
    <button type="submit">Update Review</button>
</form>
<a href="{{ url_for('films', film_id=film_id) }}">Back to Reviews</a>

{% endblock %}