{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text">Edit Review</h3>
<div class="row" id="add-review-container">
    <form action="{{ url_for('edit_review', film_id=film_id, review_id=review.review_id) }}" method="POST">
        <div class="input-field col s12">
            <i class="fa-solid fa-user prefix"></i>
            <input type="text" name="username" value="{{ review.username }}" required readonly></input>
        </div>
        <div class="input-field col s12">
            <textarea name="review" placeholder="Your Review" required class="black-text review-text-area">{{ review.text }}</textarea>
        </div>
        <div class="input-field col s12">
            <select name="rating" id="rating">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label for="rating">Film Rating out of 5</label>
        </div>
        <div class="col s12 center-align">
            <button type="submit" class="btn">Update Review</button>
        </div>
    </form>
    <a href="{{ url_for('films', film_id=film_id) }}" class="black-text">Back to Reviews</a>
</div>

{% endblock %}