{% extends "base.html" %}
{% block content %}
<h4 class="white-text films-title center-align">Films</h4>
      <div class="row card-panel" id="search-bar-container">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8" id="search-bar">
                    <i class="fas fa-search prefix black-text"></i>
                    <input type="text" name="query" id="query" value="{{ query }}" minlength="1" class="black-text" placeholder="Search Films">
                </div>
                <div class="col s12 m4 search-bar-buttons">
                    <a href="{{ url_for('films') }}" class="btn text-shadow">Reset</a>
                    <button type="submit" class=" btn text-shadow">
                        <i class="fas fa-search left search-button"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if films|length > 0 %}
    <ul class="collection">
      {% for film in films %}
        <li class="collection-item avatar center-align" style="min-height: 84px;
        padding: 5px;
        position: relative;
        background-color: #eed195;
        margin: 5px;
        border: none;
        border-radius: 5px;
        width: 60%;">
          <div class="col s12 center-align">
          <img src="{{ film.film_image }}"  class="film-image">
          </div>
          <h5>{{ film.film_name }}</h5>
          <p><strong>Year: </strong>{{ film.release_year }}</p>
          <p><strong>Director: </strong>{{ film.director }}</p>
          <p>Film added by {{ film.username }}</p>
          {% if film.username == session.user %} 
          <a href="{{ url_for('edit_film', film_id=film._id) }}" class="waves-effect waves-light btn-small center-align">Edit</a>
          <a href="{{ url_for('delete_film', film_id=film._id) }}" class="waves-effect waves-light btn-small">Delete</a>
          {% endif %}
          <ul class="collapsible review-dropdown-container" >
            <li>
            <div class="row" id="review-dropdown-button">
              <div class="collapsible-header col s6 offset-s6 review-dropdown"><i class="fa-solid fa-pen"></i>Reviews</div>
            </div>
              <div class="collapsible-body row">
                <div class="col s12">
                  <ul>
                      {% for review in film.reviews %}
                          <li><strong>{{ review.username }}:</strong> {{ review.text }}  <strong>Rating:</strong> {{ review.rating }} / 5</li> 
                          <!-- only show buttons for the creator of the review -->
                          {% if review.username == session.user %}
                          <a href="{{ url_for('edit_review', film_id=film._id, review_id=review.review_id) }}" class="waves-effect waves-light btn-small">Edit Review</a>
                          <a href="{{ url_for('delete_review', film_id=film._id, review_id=review.review_id) }}" class="waves-effect waves-light btn-small">Delete Review</a>
                          {% endif %}
                      {% endfor %}
                  </ul>
                </div>
                  <div class="col s12 right-align">
                    <a class="white-text btn-small" href="{{ url_for('add_review', film_id=film._id) }}">Add a Review</a>
                  </div>  
              </div>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
      <div class="row" >
        <div class="col s12" id="pagination-container"> 
          {{ pagination.links }}
        </div>
      </div>
      {% else %}
      <div class="col s12 center-align">
      <h4 class="white-text">No results found</h4>
      <h5 class="white-text">Want to add a film?<a style="color: #e98b72;" href="{{ url_for('add_film') }}"> click here</a></h5>
      </div>
      {% endif %}
{% endblock %}
