{% extends "base.html" %}
{% block content %}
<h4 class="white-text films-title center-align">Films</h4>
      <div class="row card-panel" id="search-bar-container">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8" id="search-bar">
                    <i class="fas fa-search prefix black-text"></i>
                    <input type="text" name="query" id="query" value="{{ query or '' }}" minlength="1" class="validate" required>
                    <label for="query" class="black-text">Search Films</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('films') }}" class="btn text-shadow">Reset</a>
                    <button type="submit" class=" btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if films|length > 0 %}
    <ul class="collection">
      {% for film in films %}
        <li class="collection-item avatar" id="film">
          <img src="{{ film.film_image }}"  class="responsive-img" id="film-image">
          <h5>{{ film.film_name }}</h5>
          <p><strong>Year: </strong>{{ film.release_year }}</p>
          <p><strong>Director: </strong>{{ film.director }}</p>
          <p>Film added by {{ film.username }}</p>
          {% if film.username == session.user %} 
          <a href="{{ url_for('edit_film', film_id=film._id) }}" class="waves-effect waves-light btn-small">Edit</a>
          <a href="{{ url_for('delete_film', film_id=film._id) }}" class="waves-effect waves-light btn-small">Delete</a>
          {% endif %}
          <ul class="collapsible" id="review-dropdown-container">
            <li>
              <div class="collapsible-header" id="review-dropdown"><i class="fa-solid fa-pen"></i>Reviews</div>
              <div class="collapsible-body row">
                  <ul>
                    <div class="col s12">
                      {% for review in film.reviews %}
                          <li><strong>{{ review.username }}:</strong> {{ review.text }}  <strong>Rating:</strong> {{ review.rating }} / 5</li> 
                          <!-- only show buttons for the creator of the review -->
                          {% if review.username == session.user %}
                          <a href="{{ url_for('edit_review', film_id=film._id, review_id=review.review_id) }}" class="waves-effect waves-light btn-small">Edit Review</a>
                          <a href="{{ url_for('delete_review', film_id=film._id, review_id=review.review_id) }}" class="waves-effect waves-light btn-small">Delete Review</a>
                          {% endif %}
                      {% endfor %}
                    </div>
                  </ul>
                  <div class="col s12 right-align">
                    <a class="white-text btn-small" href="{{ url_for('add_review', film_id=film._id) }}">Add a Review</a>
                  </div>  
              </div>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
      <div class="row ">
        <div class="col s12 center-align"> 
          {{ pagination.links }}
        </div>
      </div>
      {% else %}
      <h3 class="black-text">No results found</h3>
      {% endif %}
{% endblock %}
