{% extends "base.html" %}
{% block content %}

<h4 class="center-align white-text page-title films-title">Login</h4>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}" >
      <div class="card-panel">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-cog prefix black-text"></i>
                <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5, 15}$" class="validate" required>
                <label class="active" for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-lock prefix black-text"></i>
                <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5, 15}$" class="validate" required>
                <label  class="active" for="password">Password</label>
            </div>
        </div>
        <button type="submit" class="col s12 btn btn-large">
            Login <i  class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s12">
        <p class="center-align white-text">
            Not Registered? <a href="{{ url_for('register') }}" class="sign-in white-text"> Sign up here </a>
        </p>
    </div>
  </div>
  {% endblock %}